[repository_1]
url = "postgres://user:pass@127.0.0.1:5432/db?pool_max_conns=2"

[repository_2]
url = "postgres://user:pass@127.0.0.1:5433/db2?pool_max_conns=2"

[syncers]
    [[syncers.access]]
    enabled = true
    source_repository = "repostory_1"
    source_db = "cryp"
    source_query = "select func();"
    destination_repository = "repostory_2"
    destination_db = "report"
    destination_schema = "public"
    destination_table = "daily_report"
    periodicity_value = "1"
    periodicity_unit = "minute"
    only_diff = true
    clean_destination_table = false

    [[syncers.access]]
    enabled = false
    source_repository = "repostory_1"
    source_db = "cryp"
    source_query = "select func2();"
    destination_repository = "repostory_2"
    destination_db = "report"
    destination_schema = "public"
    destination_table = "global_report"
    periodicity_value = "1"
    periodicity_unit = "day"
    only_diff = false
    clean_destination_table = true

